  <h3 class="bg-primary p-a-1">{{getName()}} To Do List</h3>
  <div class="m-t-1 m-b-1">
      <input class="form-control" #todoText />
      <button class="btn btn-primary m-t-1" (click)="addItem(todoText.value)">
        Add
      </button>
</div>
<table class="table table-striped table-bordered"> <thead>
          <tr>
              <th>Description</th>
              <th>Done</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getTodoItems(); let i = index"><td>Buy Flowers</td><td>No</td></tr>
            <tr><td>Get Shoes</td><td>No</td></tr>
            <tr><td>Collect Tickets</td><td>Yes</td></tr>
            <tr><td>Call Joe</td><td>No</td></tr>
        </tbody>
</table>
<router-outlet />
